h1{
  color: red;
  font-size: 15px;
  background-color: blue;
  position: relative;
  box-shadow: 1px 1px 1px 1px blackk;
  font-style: italic;
  box-shadow: 1px 1px 1px 1px blackk;
  box-shadow: 1px 1px 1px 1px black;
    marawan:ddd;
}